src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:siebel="http://www.mulesoft.org/schema/mule/siebel"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/siebel http://www.mulesoft.org/schema/mule/siebel/current/mule-siebel.xsd">


	<flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67">
		<batch:job jobName="migrateAccountsBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6"
			blockSize="${page.size}">
			<batch:process-records>
				<batch:step name="GetAccountInSiebel" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<ee:transform doc:name="Set account variable and query for Siebel"
						doc:id="20fc4bcb-819c-4373-8750-68f9e848158f">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	SiebelMessage: {
		"ListOfAccount IO": [{
			Account: {
				searchspec: "[Name] = '" ++ payload.Name ++ "'"
				
			}
		}]
	}
}]]></ee:set-payload>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
						</ee:variables>


					</ee:transform>
					<siebel:execute-siebel-adapter
						method="QUERY" integrationObject="Account IO" doc:name="Get Account from Siebel"
						doc:id="96bb2835-80c2-4813-a2af-01c6d9fe5c96" config-ref="Siebel_JDB_Siebel" />
					<ee:transform doc:name="Set Siebel Account ID"
						doc:id="f20cf97d-72d8-487c-980c-2b3ca28d544c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.account ++ {
	SiebelID: if ( payload.PrimaryRowId != null) payload.PrimaryRowId else null 
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="UpsertAccountInSiebel" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
					<ee:transform doc:name="Data Account for upsert"
						doc:id="9346c420-b5be-44dc-a7f0-111010740983">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"Name": payload.Name,
	"Employees": payload.NumberOfEmployees,
	"Id": payload.SiebelID,
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<siebel:upsert-business-component
						businessObjectComponentType="Account.Account" doc:name="Upsert Account in Siebel"
						doc:id="835dea95-09b8-488a-94c0-0c4388ea0468" config-ref="Siebel_JDB_Siebel" />
					<logger level="INFO" doc:name="log Siebel response"
						doc:id="d3ae76c4-dde8-4530-bb16-646a8cdbd459" message="Upsert result: #[output application/json --- payload]" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Prepare migration result"
					doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"

++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Migration process has finished!"
					doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished: #[payload]" />

			</batch:on-complete>

		</batch:job>
	</flow>

</mule>


        